<h1 class="display-3 fw-bold text-center text-dark my-4">🥖 Let's Get This BREAD! 🥖</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-semibold" href="<%= root_path %>">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Admin", admin_path, class: "nav-link" %>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <%= render 'products/searchform' %>
      </div>
      <ul class="navbar-nav">
        <% if customer_signed_in? %>
          <li class="nav-item">
            <%= button_to "Logout", destroy_customer_session_path, method: :delete, class: "btn ms-3 btn-outline-primary", form: { class: "d-inline" } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= button_to "Login", new_customer_session_path, class: "btn ms-3 btn-outline-primary", form: { class: "d-inline" } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
