<div id="<%= dom_id product %>">
  <p class="lead">
    <strong><%= product.name %></strong>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(product.price) %>
  </p>

 <% if customer_signed_in? %>
  <%= form_with url: add_to_cart_path(id: product.id), method: :post, class: 'mt-3' do %>
    <%= hidden_field_tag :price, product.price %>
    <div class="input-group w-50 mb-3">
      <%= label_tag :quantity, 'Quantity', class: 'input-group-text' %>
      <%= number_field_tag :quantity, 1, min: 1, class: 'form-control', aria_label: 'Quantity' %>
      <div class="input-group-append">
        <%= submit_tag "Add to cart", class: "btn btn-primary ms-2" %>
      </div>
    </div>
  <% end %>
<% end %>

</div>
