<div id="<%= dom_id product %>">
  <p class="lead">
    <strong><%= product.name %></strong>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(product.price) %>
  </p>


</div>
