<p style="color: green"><%= notice %></p>

<% if customer_signed_in? %>
  <div class="accordion" id="cartAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingCart">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCart" aria-expanded="false" aria-controls="collapseCart">
          Shopping Cart
        </button>
      </h2>
      <div id="collapseCart" class="accordion-collapse collapse" aria-labelledby="headingCart" data-bs-parent="#cartAccordion">
        <div class="accordion-body">
          <div class="container">
            <!-- Header Row -->
            <div class="row border-bottom mb-2">
              <div class="col-4">
                <strong>Product Name</strong>
              </div>
              <div class="col-2">
                <strong>Quantity</strong>
              </div>
              <div class="col-3">
                <strong>Unit Price</strong>
              </div>
              <div class="col-3">
                <strong>Total</strong>
              </div>
            </div>
            <% total_cart_price = 0 %>
            <% @cart.each do |item| %>
              <% total_price_for_item = item[:price] * item[:quantity] %>
              <% total_cart_price += total_price_for_item %>
              <!-- Item Row -->
              <div class="row border-bottom mb-2">
                <div class="col-4">
                  <%= item[:name] %>
                </div>
                <div class="col-2">
                  <%= item[:quantity] %>
                </div>
                <div class="col-3">
                  $<%= '%.2f' % item[:price] %>
                </div>
                <div class="col-3">
                  $<%= '%.2f' % total_price_for_item %>
                </div>
              </div>
            <% end %>
            <!-- Total Row -->
            <div class="row mt-3">
              <div class="col-12 text-end">
                <strong>Cart Subtotal: $<%= '%.2f' % total_cart_price %></strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>Please sign in to add items to your cart.</p>
<% end %>

<div class="container mt-5 mb-5">
  <div class="content shadow p-4 rounded">
  <h1 class="fs-1 mb-3">Products</h1>
    <div id="products">
      <% @products.each do |product| %>
        <%= render product %>
        <p class: "mt-2">
          <%= link_to "Show this product", product %>
        </p>
        <hr>
      <% end %>
    </div>
  </div>
</div>